{{#d3-graph
  (pipe
    (d3-select-all 'circle')
    (d3-data (get data '[]'))
  ) as |data|
}}
  {{invoke (d3-enter (pipe  (d3-append 'circle') 
                            (d3-attr r=getCircleRadius cx=getXCoord cy=getYCoord)
                            (d3-on 'click' (action 'removeCircle')
                      ))) data}}
  {{invoke (d3-exit (pipe (d3-remove))) data}}
{{/d3-graph}}

{{input value=radius}}
<button {{action 'addCircle' radius}}>Add Circle</button>
