{{#d3-graph
  (pipe
    (d3-select-all 'circle')
    (d3-data (get data '[]'))
  ) as |data|
}}
  {{invoke (pipe d3-enter (d3-append 'circle')) data}}
  {{invoke (pipe d3-exit d3-remove) data}}
{{/d3-graph}}

{{input value=radius}}
<button {{action 'addCircle' radius}}>Add Circle</button>
